header{
    height: 300px;
}

.logo {
    display: block;               /* Hace que pueda centrarse con margin */
    margin: 30px auto;            /* Centra horizontalmente */
    width: 250px;                 /* Ancho */
    height: auto;                 /* Mantiene la proporción de la imagen */
}